$white: #fff;
$black: #000;
$blue: #2091F9;
$darkGray: #374754;
$darkBlack:#252B42;

$primaryFontRegular: 'Roboto Regular';
$primaryFontBold: 'Roboto Bold';
$primaryFontItalic: 'Roboto Italic';
$primaryFontMedium: 'Roboto Medium';

$xxl: 1610px;
$xl: 1450px;
$lg: 1210px;
$md: 1034px;
$sm: 810px;
$xs: 490px;
