@import './fonts.scss';
@import './constants.scss';
@import './mixins.scss';
@import './header.scss';
@import './navbar.scss';
@import './example.scss';
@import './sale.scss';
@import './subscribe.scss';
@import './partners.scss';
@import './reviews.scss';
@import './price.scss';
@import './contacts.scss';
@import './footer.scss';
body{
    height: 100%;

    background: #252B42;
}
section.home-section{
    background-image: url(../img/background.png) ;
    // background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    // background-size: cover;
}
