section.contacts 
  .container__contacts
   h2 Contact Us
   p Most calendars are designed for teams. Slate is designed for freelancer
   .contacts__logo
    img(src="../img/tw.png", alt="tw")
    img(src="../img/fb2.png", alt="fb")
    img(src="../img/ln.png", alt="ln")
   img.contacts__logo_map(src="../img/map.png", alt="map")
   .contacts__contacts_logo
    .contacts__logo_geo
        img(src="../img/geo.png", alt="geo")
        p 6386 Spring St undefined Anchorage, Georgia 12473 United States
    .contacts__logo_mobile
        img(src="../img/mobile.png", alt="mobile")
        p (843) 555-0130
    .contacts__logo_mail
        img(src="../img/mail.png", alt="mail")
        p willie.jennings@example.com
   .contacts__user-form
    h3 Contact Us
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea class="form-control"  id="exampleFormControlTextarea1" rows="3" placeholder="Your Message"></textarea>
    </div>
    <button type="button" class="btn btn-light">Get started</button>
   