section.example
    .container__example
     .example__header 
      span At your fingertips
      H2 Features
      p Most calendars are designed for teams. Slate is designed for freelancers.
     .example__content 
      img(src="../img/SCREEN.png", alt="screen")
      .example__content_desc
       -for(var x=0;x<2;x++)
        h3 At your fingertips
        p Slate helps you see how many more days you need to work to reach your financial goal. 

