<nav class="navbar navbar-expand-lg navbar-light bg-light">
  div.nav_logo
    img(src="../img/logo.png", alt="logo")
    <button class="btn btn-light media" type="submit">Login</button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contact</a>
        </li>
      </ul>
    div.navbar_form-conrol
      <form class="d-flex">
        <input class="form-control me-2 subscribe" type="search" placeholder="Your Email" aria-label="Search">
        <button class="btn btn-light subscribe" type="submit">Subsribe</button>
      </form>
    </div>
  </div>
</nav>