section.price 
  .container__price 
    .price_heading 
     h2 Pricing
     p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
    .price_content 
     span 30 - DAY FREE TRIAL.
     p.price_large $10 <span> / Month per User
     p Most calendars are designed for teams. 
     <button type="button" class="btn btn-light">Get started</button>
