section.subscribe
    .container__subscribe
      .subscribe__content
       .subscribe__media
        span At your fingertips
        h2 Newsletter 
        p.font_bold Subscribe to our Newsletter
       .subscribe__content_img
        img(src="../img/screen content2.png", alt="sc_content")
       .subscribe__content_desc
        span At your fingertips
        h2 Lightning fast prototyping 
        p.font_bold Subscribe to our Newsletter
        p.font_regular Available exclusivery on Figmaland
         <form class="d-flex">
           <input class="form-control me-2" type="search" placeholder="Your Email" aria-label="Search">
           <button class="btn btn-light" type="submit">Subsribe</button>
         </form>
        </div>
        
